@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    color: #ffffff;
    background-color: #000000;
    font-family: 'Nokora', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}
